@model IEnumerable<ScoresPredictorMVC.Models.Prediction>

@{
    ViewBag.Title = "View Predictions";
}

<h2 class="page-title">@ViewBag.Title</h2>

<table class="table table-striped">
  <tr>
    @*<th></th>*@
    <th>
      <p>Home Team</p>
    </th>
    <th></th>
    <th></th>
    <th>
      <p>Away Team</p>
    </th>
  </tr>

    @foreach (var prediction in Model)
    {
      <tr>
        @*<td>
          <div class="btn btn-default">@Html.ActionLink("Edit", "Enter", new { id = prediction.FixtureID })</div>
        </td>*@
        <td>
          @prediction.homeTeam
        </td>
        <td>
          <input id="homeTeamScore" type="number" min="0" max="9" placeholder="@prediction.homeTeamScore"/>
        </td>
        <td>
          <input id="awayTeamScore" type="number" min="0" max="9" placeholder="@prediction.awayTeamScore"/>
        </td>
        <td>
          @prediction.awayTeam
        </td>

      </tr>
    }

</table>
