@model IEnumerable<ScoresPredictorMVC.Models.Fixture>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gameWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Home_Team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Away_Team)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gameWeek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Home_Team)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Away_Team)
        </td>
    </tr>
}

</table>
