<!DOCTYPE html>
<html>

<head>
    <title>Scores Predictor</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/bower_components/Font-Awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/Content/Site.css" />

</head>

<body>

    <div id="sidebar">
        @*<img src="~/img/user1.jpg" alt="headshot" class="headshot" />*@

        <ul class="nav menu-items">
            <li>
                <h3>Menu</h3>
            </li>
            <li class="active">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-tachometer fa-3x"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="@Url.Action("View", "Fixtures")">
                    <i class="fa fa-soccer-ball-o fa-3x"></i>
                    View Fixtures
                </a>
            </li>
            <li>
                <a href="@Url.Action("EnterAll", "Fixtures")">
                    <i class="fa fa-pencil-square-o fa-3x"></i>
                    Enter Predictions
                </a>
            </li>
            <li>
                <a href="@Url.Action("Edit", "Fixtures")">
                    <i class="fa fa-pencil fa-3x"></i>
                    Edit Predictions
                </a>
            </li>
          <li>
            <a href="@Url.Action("totalTable", "League")">
              <i class="fa fa-table fa-3x"></i>
              League Table
            </a>
          </li>
          <li>
            <a href="@Url.Action("Stats", "League")">
              <i class="fa fa-bar-chart fa-3x"></i>
              Form Guide
            </a>
          </li>
          <li>
                <a href="@Url.Action("About", "Home")">
                    <i class="fa fa-list-alt fa-3x"></i>
                    Rules
                </a>
            </li>
        </ul>
    </div>

    <div id="wrapper">
        <nav class="navbar">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="sidebarToggle" class="btn btn-primary btn-lg">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </li>
                    <li>
                        <a asp-controller="App" asp-action="Index" class="navbar-brand" href="@Url.Action("Index", "Home")" style="vertical-align: middle;">Scores Predictor</a>
                    </li>
                </ul>

              <div class="btn-group pull-right">
                <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> User</a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="fa fa-cog fa-fw"></i> Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
              </div>
            </div>
        </nav>
        <div id="main" class="container-fluid">

            <div>
                @RenderBody()
            </div>

            @*<div id="footer" class="container-fluid">
                <div class="navbar navbar-inverse navbar-fixed-bottom">
                    <h4 class="text-center">&copy; 2016 Hamco Dev</h4>
                </div>
            </div>*@
        </div>
    </div>

    <script type="text/javascript" src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/Site.js"></script>


    @RenderSection("Scripts", false)

</body>

</html>
