@model ScoresPredictorMVC.Models.AboutModel
@{
    ViewBag.Title = "About";
}

<hgroup class="page-title">
  <h1>@ViewBag.Title.</h1>
  <h2>@Model.appName</h2>

  <article>
    <p>
      Use this area to provide additional information.
    </p>

    <p>
      Use this area to provide additional information.
    </p>

    <p>
      Use this area to provide additional information.
    </p>
  </article>

</hgroup>

<ul>
  <li>@Html.ActionLink("Home", "Index", "Home")</li>
  <li>@Html.ActionLink("About", "About", "Home")</li>
  <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>

<div>By @Model.appDeveloper</div>

